<div>
  <table>
    <thead>
    <tr>
      <th>Product</th>
      <th>Store</th>
      <th>ID</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products" (click)="selectProduct(product)">
      <td [appHoverHighlight]="'white'">{{ product.Product | lowercase}}</td>
      <td [appHoverHighlight]="'white'">{{ product.Store | uppercase }}</td>
      <td [appHoverHighlight]="'white'">{{ product.id }}</td>
      <td [appHoverHighlight]="'white'">{{ product.Price |currency}}</td>
      <button [appHoverHighlight]="'white'" (click)="editProduct(product.id)">Edit</button>
      <td><button [appHoverHighlight]="'white'" (click)="deleteProduct(product.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>
  <button (click)="addProduct()"> Add </button>
  <app-product-list-item [product]="selectedProduct"></app-product-list-item>
</div>


