<h2>{{ isEditMode ? 'Edit Product' : 'Add Product' }}</h2>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Product:</label>
    <input appHighlightOnFocus = "yellow" type="text" formControlName="Product" />
  </div>

  <div>
    <label>Store:</label>
    <input appHighlightOnFocus ="red" type="text" formControlName="Store" />
  </div>

  <div>
    <label>ProductID:</label>
    <input appHighlightOnFocus type="number" formControlName="id" />
  </div>

  <div>
    <label>Price:</label>
    <input appHighlightOnFocus = "orange" type="number" formControlName="Price" />
  </div>

  <div>
    <label>Image URL:</label>
    <input appHighlightOnFocus = "pink" type="text" formControlName="imageUrl" />
  </div>

  <button type="submit">{{ isEditMode ? 'Update' : 'Add' }} Product</button>
</form>

<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>


